.navbar {
    position: fixed;
    width: -webkit-fill-available;
    box-shadow: rgba(149, 157, 165, 0.103) 0px 2px 12px;
}
@media (max-width: 992px){
    .s2 .s2-gif iframe {
        height: auto;
        width: auto;
    }
}
.s3-card:hover .s3-heading-num {
    background: #04459d;
}
.s3-card:hover .s3-heading {
    color: #04459d;
}
